<div id="users-table-area" class="table-responsive col-md-12 col-lg-12">
    <div class="pull-right col-sm-12 col-sm-12 col-md-12 col-lg-12">
        <input id="search" type="text" data-ng-model="search" class="form-control" placeholder="Search For User Here" title="search" aria-label="search"/>
    </div>

<table class="table table-hover table-responsive" id="{{Home.tableId}}" summary="This is data table of user information." role="grid">
  <thead>
        <tr>
            <th scope="col" id="email">Email</th>
            <th scope="col" id="first_name">First Name</th>
            <th scope="col" id="last_name">Last Name</th>
            <th scope="col" id="ip">IP</th>
            <th scope="col" id="latitude">Latitude</th>
            <th scope="col" id="longitude">Longitude</th>
            <th scope="col" id="actions">Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Add New Users Here-->
        <tr scope="row">
                    <td headers="email" class="col-md-2 col-lg-2">
                        <input name="email_add" id="email_add" type="text" class="users_data_row_add form-control" value="" data-ng-model="Home.add_email"  title="Email : ADD" aria-label="Email : ADD"
                               />
                    </td>
                    <td headers="first_name" class="col-md-1 col-lg-1">

                            <input name="first_name_add" id="first_name_add" type="text" class="users_data_row_add form-control" value=""  data-ng-model="Home.add_first_name"
                                   title="Firstname :  ADD" aria-label="Firstname : ADD"/>

                    </td>
                    <td headers="last_name" class="col-md-1 col-lg-1">
                            <input name="last_name_add" id="last_name_add" type="text" class="users_data_row_add form-control" value=""  data-ng-model="Home.add_last_name"
                                title="Lastname :  ADD" aria-label="Lastname : ADD"/>
                    </td>
                    <td headers="ip" class="col-md-2  col-lg-2">
                        <input name="ip_add" id="ip_add" type="text" class="users_data_row_add form-control" value="" data-ng-model="Home.add_ip" title="IP : ADD" aria-label="IP : ADD" class="users_data_row_add"/>
                    <td headers="latitude" class="col-lg-2">
                        <input name="latitude_add"  id="latitude_add" type="text" class="users_data_row_add form-control" value=""  data-ng-model="Home.add_latitude" title="Latitude :  ADD" aria-label="Latitude : ADD" class="users_data_row_add"/>
                    </td>
                    <td headers="longitude"class="col-md-2 col-lg-2">
                        <input name="longitude_add" id="longitude_add" type="text" class="users_data_row_add form-control" value=""  data-ng-model="Home.add_longitude" title="Longitude :  ADD" aria-label="Longitude : ADD" class="users_data_row_add"/>
                    </td>
                    <td headers="actions" class="col-md-2 col-lg-2">
                        <div class="btn-group btn-group-sm">
                            <button title="Save" class="btn btn-default" data-ng-click="Home.addUser($index)">Add</a>
                        </div>               
                    </td>
        </tr>
    </tbody>
    <tbody>
        
        
        
        <tr scope="row" data-ng-repeat="user in Home.users | filter:search">
            <td role="gridcell" headers="email" class="col-md-2 col-lg-2">
                <input name="email_{{$index}}" id="email_{{$index}}" type="text" class="users_data_row_{{$index}} form-control" value="{{user.email}}"  title="Email for {{user.email}}" aria-label="Email : {{user.email}}"
                       />
            </td>
            <td role="gridcell" headers="first_name" class="col-md-1 col-lg-1">
              
                    <input name="first_name_{{$index}}" id="first_name_{{$index}}" type="text" class="users_data_row_{{$index}} form-control" value="{{user.first_name}}"  
                           title="Firstname :  {{user.first_name}}" aria-label="Firstname {{user.first_name}}"/>
                
            </td>
            <td role="gridcell" headers="last_name" class="col-md-1 col-lg-1">
                    <input name="last_name_{{$index}}" id="last_name_{{$index}}" type="text" class="users_data_row_{{$index}} form-control" value="{{user.last_name}}"  
                        title="Lastname :  {{user.last_name}}" aria-label="Lastname : {{user.last_name}}"/>
            </td>
            <td role="gridcell" headers="ip" class="col-md-2  col-lg-2">
                <input name="ip_{{$index}}" id="ip_{{$index}}" type="text" class="users_data_row_{{$index}} form-control" value="{{user.ip}}"  title="IP :  {{user.ip}}" aria-label="IP : {{user.ip}" class="users_data_row_{{$index}}"/>
            <td role="gridcell" headers="latitude" class="col-lg-2">
                <input name="latitude_{{$index}}"  id="latitude_{{$index}}" type="text" class="users_data_row_{{$index}} form-control" value="{{user.latitude}}"  title="Latitude :  {{user.latitude}}" aria-label="Latitude : {{user.latitude}}" class="users_data_row_{{$index}}"/>
            </td>
            <td role="gridcell" headers="longitude"class="col-md-2 col-lg-2">
                <input name="longitude_{{$index}}" id="longitude_{{$index}}" type="text" class="users_data_row_{{$index}} form-control" value="{{user.longitude}}"  title="Longitude :  {{user.longitude}}" aria-label="Longitude : {{user.longitude}}" class="users_data_row_{{$index}}"/>
            </td>
            <td role="gridcell" headers="actions" class="col-md-2 col-lg-2">
                <input type="hidden" name="id_{{$index}}" id="id_{{$index}}" value="{{user.id}}" class="users_data_row_{{$index}}"/>
                <div class="btn-group btn-group-sm">
                  <button title="Save" class="btn btn-default" data-ng-click="Home.updateUser($index)">Save</a>
                  <button title="Delete" class="btn btn-default" data-ng-click="Home.deleteUser($index)">Delete</a>
                </div>               
            </td>
        </tr>
    </tbody>
</table>
</div>
