<form enctype="multipart/form-data">
  <div class="form-group">
     <button  type="button" class="btn btn-default"  
             pl-upload=""  accept=".csv" pl-progress-model="Upload.percent"
             pl-auto-upload="true" pl-files-model="Upload.file" 
             pl-max-file-size="10mb" pl-filters-model="Upload.fileFilter"
             on-file-uploaded="Upload.uploadConfirmation(this, response)"
             on-file-error="Upload.uploadFailed()">Upload Files</button>
   
  </div>
    <span ng-if="Upload.uploadedCSV.length">
        <table class="table table-hover table-responsive">
            <thead>
                <th>createDatetime</th>
                <th>ipAddress</th>
                <th>geoLat</th>
                <th>geoLong</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>emailAddress </th>
            </thead>
            <tbody>
                <tr ng-repeat="user in Upload.uploadedCSV">
                    <td>{{user.createDatetime}}</td>
                    <td>{{user.ipAddress}}</td>
                    <td>{{user.geoLat}}</td>
                    <td>{{user.geoLong}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.emailAddress}}</td>
                </tr>
            </tbody>
        </table>
    </span>    
</form>