 <nav role="navigation">
    <div class="navbar navbar-default" role="navigation" bs-navbar role="menubar">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/" role="menuitem">Allegiant Air Challenge</a>
      </div>
      <ul class="nav navbar-nav" role="menu">
        <li data-match-route="/upload"><a href="#/upload"  role="menuitem">Upload</a></li>
      </ul>
    </div>
</nav>
